<section class="hero">
  <div class="container hero__container">
    <div class="hero__works">
      <div class="hero-works__item">
        <div class="hero-works-item__image">
          <picture>
            <source srcset="/img/webp/hero-img-1.webp, /img/webp/hero-img-1-2x.webp 2x, /img/webp/hero-img-1-3x.webp 3x" media="(min-width: 1280px)" type="image/webp">
            <source srcset="/img/webp/hero-img-1-1024.webp, /img/webp/hero-img-1-1024-2x.webp 2x, /img/webp/hero-img-1-1024-3x.webp 3x" media="(min-width: 992px)" type="image/webp">
            <source srcset="/img/webp/hero-img-1-768.webp, /img/webp/hero-img-1-768-2x.webp 2x, /img/webp/hero-img-1-768-3x.webp 3x" media="(min-width: 577px)" type="image/webp">
            <source srcset="/img/webp/hero-img-1-320.webp, /img/webp/hero-img-1-320-2x.webp 2x, /img/webp/hero-img-1-320-3x.webp 3x" media="(max-width: 576px)" type="image/webp">

            <img
              class="hero-works__img"
              src="/img/hero-img-1.jpg"
              srcset="/img/hero-img-1-2x.jpg 2x, /img/hero-img-1-3x.jpg 3x"
              alt="Изображение фотоапарата"
            >
          </picture>
        </div>
        <div class="hero-works-item__inner">
          <span class="hero-masters__text">Мастер-класс от Игоря Робова</span>
          <h1 class="hero-masters__title">Неоновый фотосет 2.0 7 июля 20:00</h1>
          <a href="#" class="hero-masters__link">Узнать больше</a>
          <span class="hero-masters__hashtag">#мастеркласс</span>
        </div>
      </div>
      <div class="hero-works__item hero-works__item--parent">
        <div class="hero-works__item--child">
          <h2 class="title hero-works__title">
            Работы участников предыдущего мастер-класса
          </h2>
        </div>
        <div class="hero-works__item--child">
          <div class="hero-works-item__image">
            <picture>
              <source srcset="/img/webp/hero-img-2.webp, /img/webp/hero-img-2-2x.webp 2x, /img/webp/hero-img-2-3x.webp 3x" media="(min-width: 1280px)" type="image/webp">
              <source srcset="/img/webp/hero-img-2-1024.webp, /img/webp/hero-img-2-1024-2x.webp 2x, /img/webp/hero-img-2-1024-3x.webp 3x" media="(min-width: 992px)" type="image/webp">
              <source srcset="/img/webp/hero-img-2-768.webp, /img/webp/hero-img-2-768-2x.webp 2x, /img/webp/hero-img-2-768-3x.webp 3x" media="(min-width: 577px)" type="image/webp">
              <source srcset="/img/webp/hero-img-2-320.webp, /img/webp/hero-img-2-320-2x.webp 2x, /img/webp/hero-img-2-320-3x.webp 3x" media="(max-width: 576px)" type="image/webp">

              <img
                class="hero-works__img"
                src="/img/hero-img-2.jpg"
                srcset="/img/hero-img-2-2x.jpg 2x, /img/hero-img-2-3x.jpg 3x"
                alt="Изображение девушки"
              >
            </picture>
          </div>
        </div>
      </div>
      <div class="hero-works__item">
        <div class="hero-works-item__image">
          <picture>
            <source srcset="/img/webp/hero-img-3.webp, /img/webp/hero-img-3-2x.webp 2x, /img/hero-img-3-3x.webp 3x" media="(min-width: 1280px)" type="image/webp">
            <source srcset="/img/webp/hero-img-3-1024.webp, /img/webp/hero-img-3-1024-2x.webp 2x, /img/webp/hero-img-3-1024-3x.webp 3x" media="(min-width: 992px)" type="image/webp">
            <source srcset="/img/webp/hero-img-3-768.webp, /img/webp/hero-img-3-768-2x.webp 2x, /img/webp/hero-img-3-768-3x.webp 3x" media="(min-width: 577px)" type="image/webp">
            <source srcset="/img/webp/hero-img-3-320.webp, /img/webp/hero-img-3-320-2x.webp 2x, /img/webp/hero-img-3-320-3x.webp 3x" media="(max-width: 576px)" type="image/webp">

            <img
              class="hero-works__img"
              src="/img/hero-img-3.jpg"
              srcset="/img/hero-img-3-2x.jpg 2x, /img/hero-img-3-3x.jpg 3x"
              alt="Изображение девушки"
            >
          </picture>
        </div>
      </div>
      <div class="hero-works__item">
        <div class="hero-works-item__image">
          <picture>
            <source srcset="/img/webp/hero-img-4.webp, /img/webp/hero-img-4-2x.webp 2x, /img/webp/hero-img-4-3x.webp 3x" media="(min-width: 1280px)" type="image/webp">
            <source srcset="/img/webp/hero-img-4-1024.webp, /img/webp/hero-img-4-1024-2x.webp 2x, /img/webp/hero-img-4-1024-3x.webp 3x" media="(min-width: 992px)" type="image/webp">
            <source srcset="/img/webp/hero-img-4-768.webp, /img/webp/hero-img-4-768-2x.webp 2x, /img/webp/hero-img-4-768-3x.webp 3x" media="(min-width: 577px)" type="image/webp">
            <source srcset="/img/webp/hero-img-4-320.webp, /img/webp/hero-img-4-320-2x.webp 2x, /img/webp/hero-img-4-320-3x.webp 3x" media="(max-width: 576px)" type="image/webp">

            <img
              class="hero-works__img"
              src="/img/hero-img-4.jpg"
              srcset="/img/hero-img-4-2x.jpg 2x, /img/hero-img-4-3x.jpg 3x"
              alt="Изображение девушки"
            >
          </picture>
        </div>
      </div>
    </div>
  </div>
</section>
