<section class="projects">
  <div class="container projects__container">
    <h2 class="title projects__title">
      Наши проекты
    </h2>
    <div class="projects__card">
      <div class="projects-card__item">
        <div class="projects-card-item__images">
          <picture>
            <source srcset="/img/webp/project-card-img-1.webp, /img/webp/project-card-img-1-2x.webp 2x, /img/webp/project-card-img-1-3x.webp 3x" media="(min-width: 1280px)" type="image/webp">
            <source srcset="/img/webp/project-card-img-1-1024.webp, /img/webp/project-card-img-1-1024-2x.webp 2x, /img/webp/project-card-img-1-1024-3x.webp 3x" media="(min-width: 992px)" type="image/webp">
            <source srcset="/img/webp/project-card-img-1-768.webp, /img/webp/project-card-img-1-768-2x.webp 2x, /img/webp/project-card-img-1-768-3x.webp 3x" media="(min-width: 577px)" type="image/webp">
            <source srcset="/img/webp/project-card-img-1-320.webp, /img/webp/project-card-img-1-320-2x.webp 2x, /img/webp/project-card-img-1-320-3x.webp 3x" media="(max-width: 576px)" type="image/webp">

            <img
              class="projects-card-item__image"
              src="/img/project-card-img-1.jpg"
              srcset="/img/project-card-img-1-2x.jpg 2x, /img/project-card-img-1-3x.jpg 3x"
              alt="Изображение природы"
            >
          </picture>
        </div>

        <p class="projects-card-item__text">Синтетически, смешаны с не уникальными данными до степени…</p>
        <span class="projects-card-item__date">
          <svg class="projects-card-item__icon">
            <use xlink:href="./img/svg/sprite.svg#data-icon"></use>
          </svg>
          <span class="projects-card-item-date__text">
            16 июня
          </span>
        </span>
        <span class="projects-card-item__hashtag">#пейзаж</span>
      </div>
      <div class="projects-card__item">
        <div class="projects-card-item__images">
          <picture>
            <source srcset="/img/webp/project-card-img-2.webp, /img/webp/project-card-img-2-2x.webp 2x, /img/webp/project-card-img-2-3x.webp 3x" media="(min-width: 1280px)" type="image/webp">
            <source srcset="/img/webp/project-card-img-2-1024.webp, /img/webp/project-card-img-2-1024-2x.webp 2x, /img/webp/project-card-img-2-1024-3x.webp 3x" media="(min-width: 992px)" type="image/webp">
            <source srcset="/img/webp/project-card-img-2-768.webp, /img/webp/project-card-img-2-768-2x.webp 2x, /img/webp/project-card-img-2-768-3x.webp 3x" media="(min-width: 577px)" type="image/webp">
            <source srcset="/img/webp/project-card-img-2-320.webp, /img/webp/project-card-img-2-320-2x.webp 2x, /img/webp/project-card-img-2-320-3x.webp 3x" media="(max-width: 576px)" type="image/webp">

            <img
              class="projects-card-item__image"
              src="/img/project-card-img-2.jpg"
              srcset="/img/project-card-img-2-2x.jpg 2x, /img/project-card-img-2-3x.jpg 3x"
              alt="Изображение мужчины"
            >
          </picture>
        </div>

        <p class="projects-card-item__text">В своём стремлении улучшить опыт мы&nbsp;упускаем, что явные...</p>
        <span class="projects-card-item__date">
          <svg class="projects-card-item__icon">
            <use xlink:href="./img/svg/sprite.svg#data-icon"></use>
          </svg>
          <span class="projects-card-item-date__text">
            28 мая
          </span>
        </span>
        <span class="projects-card-item__hashtag">#портрет</span>
      </div>

      <div class="projects-card__item">
        <div class="projects-card-item__images">
          <picture>
            <source srcset="/img/webp/project-card-img-3.webp, /img/webp/project-card-img-3-2x.webp 2x, /img/webp/project-card-img-3-3x.webp 3x" media="(min-width: 1280px)" type="image/webp">
            <source srcset="/img/webp/project-card-img-3-1024.webp, /img/webp/project-card-img-3-1024-2x.webp 2x, /img/webp/project-card-img-3-1024-3x.webp 3x" media="(min-width: 992px)" type="image/webp">
            <source srcset="/img/webp/project-card-img-3-768.webp, /img/webp/project-card-img-3-768-2x.webp 2x, /img/webp/project-card-img-3-768-3x.webp 3x" media="(min-width: 577px)" type="image/webp">
            <source srcset="/img/webp/project-card-img-3-320.webp, /img/webp/project-card-img-3-320-2x.webp 2x, /img/webp/project-card-img-3-320-3x.webp 3x" media="(max-width: 576px)" type="image/webp">

            <img
              class="projects-card-item__image"
              src="/img/project-card-img-3.jpg"
              srcset="/img/project-card-img-3-2x.jpg 2x, /img/project-card-img-3-3x.jpg 3x"
              alt="Изображение стола с предметами"
            >
          </picture>
        </div>

        <p class="projects-card-item__text">Равным образом, высокое качество позиционных высокотехнологичная&nbsp;концепция общественного уклада</p>
        <span class="projects-card-item__date">
          <svg class="projects-card-item__icon">
            <use xlink:href="./img/svg/sprite.svg#data-icon"></use>
          </svg>
          <span class="projects-card-item-date__text">
            14 мая
          </span>
        </span>
        <span class="projects-card-item__hashtag">#предмет</span>
      </div>

      <div class="projects-card__item projects-card__item--bg">
        <div class="projects-card-item__images">
          <picture>
            <source srcset="/img/webp/project-card-img-4.webp, /img/webp/project-card-img-4-2x.webp 2x, /img/webp/project-card-img-4-3x.webp 3x" media="(min-width: 1280px)" type="image/webp">
            <source srcset="/img/webp/project-card-img-4-1024.webp, /img/webp/project-card-img-4-1024-2x.webp 2x, /img/webp/project-card-img-4-1024-3x.webp 3x" media="(min-width: 992px)" type="image/webp">
            <source srcset="/img/webp/project-card-img-4-768.webp, /img/webp/project-card-img-4-768-2x.webp 2x, /img/webp/project-card-img-4-768-3x.webp 3x" media="(min-width: 577px)" type="image/webp">
            <source srcset="/img/webp/project-card-img-4-320.webp, /img/webp/project-card-img-4-320-2x.webp 2x, /img/webp/project-card-img-4-320-3x.webp 3x" media="(max-width: 576px)" type="image/webp">

            <img
              class="projects-card-item__image"
              src="/img/project-card-img-4.jpg"
              srcset="/img/project-card-img-4-2x.jpg 2x, /img/project-card-img-4-3x.jpg 3x"
              alt="Изображение стола с предметами"
            >
          </picture>
        </div>
        <div class="projects-card-item__inner">
          <div class="projects-card-item__inner-top">
            <span class="projects-card-item__date">
              <svg class="projects-card-item__icon">
                <use xlink:href="./img/svg/sprite.svg#data-icon"></use>
              </svg>
              <span class="projects-card-item-date__text">
                9 апреля
              </span>
            </span>
            <h2 class="title projects-card-item__title">Cемантический разбор</h2>
            <p class="projects-card-item__descr">
              В рамках спецификации современных стандартов, интерактивные прототипы
            </p>
          </div>
          <a href="#" class="btn projects-card-item__link">
            О проекте
          </a>
        </div>
        <span class="projects-card-item__hashtag">#fuji</span>
      </div>

      <div class="projects-card__item projects-card__item--bg">
        <div class="projects-card-item__images">
          <picture>
            <source srcset="/img/webp/project-card-img-5.webp, /img/webp/project-card-img-5-2x.webp 2x, /img/webp/project-card-img-5-3x.webp 3x" media="(min-width: 1280px)" type="image/webp">
            <source srcset="/img/webp/project-card-img-5-1024.webp, /img/webp/project-card-img-5-1024-2x.webp 2x, /img/webp/project-card-img-5-1024-3x.webp 3x" media="(min-width: 992px)" type="image/webp">
            <source srcset="/img/webp/project-card-img-5-768.webp, /img/webp/project-card-img-5-768-2x.webp 2x, /img/webp/project-card-img-5-768-3x.webp 3x" media="(min-width: 577px)" type="image/webp">
            <source srcset="/img/webp/project-card-img-5-320.webp, /img/webp/project-card-img-5-320-2x.webp 2x, /img/webp/project-card-img-5-320-3x.webp 3x" media="(max-width: 576px)" type="image/webp">

            <img
              class="projects-card-item__image"
              src="/img/project-card-img-5.jpg"
              srcset="/img/project-card-img-5-2x.jpg 2x, /img/project-card-img-5-3x.jpg 3x"
              alt="Изображение природы"
            >
          </picture>
        </div>
        <div class="projects-card-item__inner">
          <div class="projects-card-item__inner-top">
            <span class="projects-card-item__date">
              <svg class="projects-card-item__icon">
                <use xlink:href="./img/svg/sprite.svg#data-icon"></use>
              </svg>
              <span class="projects-card-item-date__text">
                20 марта
              </span>
            </span>
            <h2 class="title projects-card-item__title">Забвение</h2>
            <p class="projects-card-item__descr">
              Играет важную роль в формировании глубокомысленных рассуждений
            </p>
          </div>
          <a href="#" class="btn projects-card-item__link">
            О проекте
          </a>
        </div>
        <span class="projects-card-item__hashtag">#проектзабвение</span>
      </div>
      <div class="projects-card__item">
        <div class="projects-card-item__images">
          <picture>
            <source srcset="/img/webp/project-card-img-6.webp, /img/webp/project-card-img-6-2x.webp 2x, /img/webp/project-card-img-6-3x.webp 3x" media="(min-width: 1280px)" type="image/webp">
            <source srcset="/img/webp/project-card-img-6-1024.webp, /img/webp/project-card-img-6-1024-2x.webp 2x, /img/webp/project-card-img-6-1024-3x.webp 3x" media="(min-width: 992px)" type="image/webp">
            <source srcset="/img/webp/project-card-img-6-768.webp, /img/webp/project-card-img-6-768-2x.webp 2x, /img/webp/project-card-img-6-768-3x.webp 3x" media="(min-width: 577px)" type="image/webp">
            <source srcset="/img/webp/project-card-img-6-320.webp, /img/webp/project-card-img-6-320-2x.webp 2x, /img/webp/project-card-img-6-320-3x.webp 3x" media="(max-width: 576px)" type="image/webp">

            <img
              class="projects-card-item__image"
              src="/img/project-card-img-6.jpg"
              srcset="/img/project-card-img-6-2x.jpg 2x, /img/project-card-img-6-3x.jpg 3x"
              alt="Изображение грейпфрутов"
            >
          </picture>
        </div>

        <p class="projects-card-item__text">Как принято считать, многие известные личности и по сей день остаются уделом либералов...</p>
        <span class="projects-card-item__date">
          <svg class="projects-card-item__icon">
            <use xlink:href="./img/svg/sprite.svg#data-icon"></use>
          </svg>
          <span class="projects-card-item-date__text">
            9 марта
          </span>
        </span>
        <span class="projects-card-item__hashtag">#ретушь</span>
      </div>
      <div class="projects-card__item">
        <div class="projects-card-item__images">
          <picture>
            <source srcset="/img/webp/project-card-img-7.webp, /img/webp/project-card-img-7-2x.webp 2x, /img/webp/project-card-img-7-3x.webp 3x" media="(min-width: 1280px)" type="image/webp">
            <source srcset="/img/webp/project-card-img-7-1024.webp, /img/webp/project-card-img-7-1024-2x.webp 2x, /img/webp/project-card-img-7-1024-3x.webp 3x" media="(min-width: 992px)" type="image/webp">
            <source srcset="/img/webp/project-card-img-7-768.webp, /img/webp/project-card-img-7-768-2x.webp 2x, /img/webp/project-card-img-7-768-3x.webp 3x" media="(min-width: 577px)" type="image/webp">
            <source srcset="/img/webp/project-card-img-7-320.webp, /img/webp/project-card-img-7-320-2x.webp 2x, /img/webp/project-card-img-7-320-3x.webp 3x" media="(max-width: 576px)" type="image/webp">

            <img
              class="projects-card-item__image"
              src="/img/project-card-img-7.jpg"
              srcset="/img/project-card-img-7-2x.jpg 2x, /img/project-card-img-7-3x.jpg 3x"
              alt="Изображение девушки"
            >
          </picture>
        </div>

        <p class="projects-card-item__text">С учётом сложившейся международной обстановки, новая модель организационной...</p>
        <span class="projects-card-item__date">
          <svg class="projects-card-item__icon">
            <use xlink:href="./img/svg/sprite.svg#data-icon"></use>
          </svg>
          <span class="projects-card-item-date__text">
            1 марта
          </span>
        </span>
        <span class="projects-card-item__hashtag">#портрет</span>
      </div>
    </div>
  </div>
</section>
