@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Regular.woff2') format('woff2'),
  url('../Roboto-Regular.woff') format('woff');
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Bold.woff2') format('woff2'),
  url('../Roboto-Bold.woff') format('woff');
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'TTFirsNeue';
  src: url('../fonts/TTFirsNeue-Regular.woff2') format('woff2'),
  url('../TTFirsNeue-Regular.woff') format('woff');
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'TTFirsNeue';
  src: url('../fonts/TTFirsNeue-Bold.woff2') format('woff2'),
  url('../TTFirsNeue-Bold.woff') format('woff');
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}
